body {
  margin: 0;
  font-family: "Roboto", "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1 {
  color: #a6ce3a;
}

textarea {
  border-radius: 4px;
}

/* button {
  background: linear-gradient(to right, #bdd53e, #61a545);
  padding: 12px;
  font-size: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #61a545, #bdd53e);
} */

button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

button:active {
  background-color: #3e8e41; /* Even darker green when clicked */
  transform: translateY(2px); /* Slightly push down when clicked */
}
